body{
    
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkcyan;
}

#descr{
    border: 3px solid #d3d3d3;
    
    text-align: center;
    transform: translate(0, 250%);
    max-width: 550px;
    margin: auto;
    padding: 2rem;
    border-radius: 32px;
    background-color:aqua
    
    
}

#main-logo{
    
    height:200px;
    width: 200px ;
    transform: translate(290%,20%);
    border-radius: 26px;
    
    
   
}  